/*yuh*/
html {
	display: flex;
	flex-direction: column;
	font-family: "Roboto", "Monospace", sans-serif;
	background-color: #1f2937;
	color: #f9faf8;
}

.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	text-align: center;
	padding: 4px;
	width: 100px;
	border-radius: 50px;
	border: 2px dashed #f9faf8;
	font-size: 24px;
}

a {
	text-decoration: none;
	font-size: 18px;
	color: #e5e7eb;
	padding: 6px 12px;
}

.text-box1 {
	display: flex;
	justify-content: center;
	border: 1px dashed;
	margin-bottom: 10px;
	margin-left: 200px;
}

span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
	width: 400px;
	
}

.image-2 {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: 250px;
	width: 400px;
	text-align: center;
	background-color: grey;
	
}

.quote {
	background-color: #e5e7eb;
	color: #1f2937;
	font-size: 36px;
	font-weight: light;
}

.neck {
	background-color: #f9faf8;
	color: #1f2937;
	padding: 100px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: light;
	font-size: 18px;
}